*{
	// outline: 1px solid red;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;

}
.parallax-container {
      height: 700px;
      background-size: cover;
	width: 100%;
	height: 700px;
}
/*===============================
=       section #1 portada            =
===============================*/
#portada{
	background-image: url("../img/fondo-negro.jpg");
	// opacity: 0.7;
	background-size: cover;
	width: 100%;
	height: 700px;
    #portada-container{
		width: 30%;
		height: 200px;
		position: relative;
		top: 35%;
		text-align: center;
		padding: 25px;
		color: pink;
		border-radius: 5%;
	// background-color: rgba(10, 0, 0, 0.7);
    }
}
.social-net {
    font-size: 1.6rem;
    position: fixed;
    right: 2vh;
    top: 64vh;
    width: 40px;
    z-index: 4;
    text-align: center;
}

/*===============================
=            section #2-about            =
===============================*/
#section-2{
	background-image: url("../img/370.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
	color: white;
	padding: 15px;
	.container{
	  width: 70%;
	  height: auto;
	  position: relative;
	  top: 5%;
	  text-align: center;
	  padding: 25px;
	  p{
	  	text-align: justify;
	  	font-size: 20px;
	  	font-family: 'Raleway', sans-serif;
	  }
	  img.img-fluid {
    	height: 300px !important;
    	width: 300px !important;
    	position: relative;
    	top: 50px !important;
	  	border-radius: 50%;
	  }
	}
}
/*===============================
=            section #3 - Habilidades   =
===============================*/
#section-3{
	background: linear-gradient(50deg, #FF4169 0, #1E9DAC 100%);
	background-size: cover;
	width: 100%;
	height: 700px;
	color: white;
	padding: 15px;
	.container{
	  width: 70%;
	  height: auto;
	  position: relative;
	  top: 5%;
	  text-align: center;
	  padding: 25px;
	}
}
/*===============================
=            section #4 - Portafolio   =
===============================*/
#section-3{
	background: linear-gradient(50deg, #FF4169 0, #1E9DAC 100%);
	background-size: cover;
	width: 100%;
	height: 700px;
	color: white;
	padding: 15px;
	.container{
	  width: 70%;
	  height: auto;
	  position: relative;
	  top: 5%;
	  text-align: center;
	  padding: 25px;
	}
}
/*===============================
=            section #5 - Footer   =
===============================*/
footer{
	height: auto !important;
    background-color: #1c3643 !important;
    color: white;
    padding: 3em 0;
}

/*===================================
=            media Query            =
===================================*/
@media (max-width: 600px) {
	// SECTION-1-PORTADA
	#portada {
	    height: 520px;
	}
	#portada-container {
	    width: 80%;
	    position: absolute;
	    left: 40px;
	}
	// SECTION-2-ABOUT
	#section-2 {
    height: 595px;
    p{
	  	text-align: justify;
	  	font-size: 12px !important;
	  	color: pink;
	  	// font-family: 'Raleway', sans-serif;
	  	font-family: 'Kurale', serif;
	  }

}
}
